{% extends 'core/base.html' %}
{%block content%}
<div class="container text-center mt-5">
    <h1 class="text-warning mb-5 border-bottom">PROJECTS</h1>

    <div class="row text-white">
        <div class="col sm-4">
            <i class="fa-solid fa-laptop-code fa-5x mb-5 i-colo"> </i>
            <h3>Portfolio</h3>
            <p>Tech enthusiast with a strong background in Python, Django, and web technologies. Let's connect and explore potential collaborations</p>
            
        </div>
        <div class="col sm-4">
            <!-- <i class="fa-solid fa-laptop-code fa-5x mb-5 i-colo"> </i> -->
            <i class="fa-solid fa-window-restore fa-5x mb-5 i-colo"></i>
            <h3>CRUD</h3>
            <p>Implemented Create, Read, Update, and Delete operations using Django framework (Python)</p>
            
        </div>

        <div class="col sm-4">
            <!-- <i class="fa-solid fa-laptop-code fa-5x mb-5 i-colo"> </i> -->
            <i class="fa-solid fa-file-export fa-5x mb-5 i-colo"></i>
            <h3>WebAutomation</h3>
            <p>Automated Website to search for items, add to cart, fill details, make payment and check out using Selenium(Python)</p>
            
        </div>

    </div>

    <div class="row text-white">
        <div class="col sm-4">
            <!-- <i class="fa-solid fa-laptop-code fa-5x mb-5 mt-5 i-colo"> </i> -->
            <!-- <i class="fa-solid fa-highlighter fa-5x mb-5 i-colo"></i> -->
            <!-- <i class="fa-solid fa-envelope-open-text fa-5x mb-5 i-colo"></i> -->
            <!-- <i class="fa-regular fa-file-lines fa-5x mb-5 mt-5 i-colo"></i> -->
            <i class="fa-solid fa-volume-high fa-5x mb-5 mt-5 i-colo"></i>
            <!-- <i class="fa-solid fa-headphones-simple fa-5x i-colo"></i> -->
            <h3>TTS</h3>
            <p>Text to Speech Research project based on Tacotron2 model by Google under Dr.Philemon Daniel(NITH)</p>
            
        </div>
        <div class="col sm-4">
            <!-- <i class="fa-solid fa-laptop-code fa-5x mb-5 i-colo"> </i> -->
            <!-- <i class="fa-solid fa-window-restore fa-5x mb-5 mt-5 i-colo"></i> -->
            <i class="fa-solid fa-calculator fa-5x mb-5 mt-5 i-colo"></i>

            <h3>Calculator</h3>
            <p>Created a scientific calculator using HTML, CSS, and JavaScript, incorporating a subscript feature for enhanced functionality.</p>
            
        </div>

        <div class="col sm-4">
            <!-- <i class="fa-solid fa-laptop-code fa-5x mb-5 mt-5 i-colo"> </i> -->
            <!-- <i class="fa-solid fa-calculator fa-5x mb-5 mt-5 i-colo"></i> -->
            <i class="fa-solid fa-temperature-quarter fa-5x mb-5 mt-5 i-colo"></i>
            <h3>LED Thermometer</h3>
            <p>A visual system using LM35, LM3914, Potentiometer, and LED bulbs to display temperature conditions</p>
            
        </div>

    </div>
</div>
{%endblock content%}