{% extends 'core/base.html' %}
{% block content %}

<div class="container mt-5">
    <div class="text-center">
    <h1 class="text-warning mb-5 border-bottom">CONTACT</h1>
    </div>
    <div class="row text-white mb-5">
        <p class="mx-auto mb-5">
            I'd love to hear from you! 
            Whether you have a question, or simply want to say hello, 
            please feel free to reach out, using the contact information below. 
        </p>
        <div class="col-sm-9 mb-5">
            <form class="contacts" method="POST">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputName">Your Name</label>
                        <input type="text" class="form-control" id="name" name="name" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputEmail">Your Email *</label>
                        <input type="email" class="form-control" id="email" name="email" required />
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputSubject">Your Subject</label>
                    <input type="text" class="form-control" id="subject" name="subject" />
                </div>
                <div class="mb-3">
                    <label for="inputTextarea">Your Message *</label>
                    <textarea class="form-control" id="message" name="message" required></textarea>
                </div>
                <button class="btn btn-primary" type="submit">Send</button>
            </form>
        </div>
        <div class="col-sm-3 text-center">
            <ul class="list-unstyled">
                <li>
                    <i class="fa-solid fa-location-dot fa-2x i-colo"></i>
                    <p>
                        <a href="https://www.google.com/maps/place/Lucknow,+Uttar+Pradesh/@26.8489028,80.7777012,11z/data=!3m1!4b1!4m6!3m5!1s0x399bfd991f32b16b:0x93ccba8909978be7!8m2!3d26.8466937!4d80.946166!16zL20vMDIydHE0?entry=ttu">Lucknow, Uttar Pradesh, India.</a></p>
                </li>
                <li>
                    <i class="fas fa-phone mt-4 fa-2x i-colo"></i>
                    <p>
                        <a href="+918887835096">+91 8887835096 </a></p>
                </li>
                <li>
                    <i class="fas fa-envelope mt-4 fa-2x i-colo"></i>
                    <p>
                        <a href="mailto: riteshpushkar.sde@gmail.com"> riteshpushkar.sde@gmail.com </a></p>
                </li>
                <li>
                    <i class="fa-solid fa-file  mt-4 fa-2x i-colo"></i>
                    <p>
                        <a href="https://drive.google.com/drive/folders/1Vc5E9MPwKQbpUYO80v4MVuo4GdqLuHJ6"> Download Resume  </a></p>
                </li>

            </ul>
        </div>
    </div>

<div class="text-center">
    <a href="https://www.linkedin.com/in/ritesh-pushkar-b55887195/" target="_blank"><i class="fa-brands fa-linkedin fa-2x i-colo mr-3"></i></a>
    <a href="https://github.com/riteshpushkar" target="_blank"><i class="fa-brands fa-square-github fa-2x i-colo mr-3"></i></a>
    <a href="https://www.instagram.com/riteshpuskar/" target="_blank"><i class="fa-brands fa-square-instagram fa-2x i-colo mr-3"></i></a>
    <a href="https://twitter.com/ritesh_pushkar" target="_blank"><i class="fa-brands fa-square-twitter fa-2x i-colo mr-3"></i></a>
    <a href="https://leetcode.com/ritesh_pushkar/" target="_blank"><i class="fa-solid fa-code fa-2x i-colo mr-3"></i></i></a>


</div></div>
{% endblock content %}
