{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<style>
    /* Base styles for all screen sizes */
    body {
        font-family: Arial, sans-serif;
        background-color: #f5f5f5; /* Light gray background */
        margin: 0;
        padding: 0;
    }

    h1 {
        color: #333;
        font-size: 24px;
        margin-bottom: 20px;
    }




    input[type="text"] {
        max-width: 70%;
        font-size: 16px;
        background-color: #fff; /* White input background */
        border-radius: 4px;

    }
    input[type="number"] {
        width: 95%;
        font-size: 16px;
        background-color: #fff; /* White input background */
        border-radius: 4px;
    }

    button {
        max-width: 70%;
        font-size: 14px;
        background-color: #8bb2dc;
        color: #070606;
        border-radius: 4px;
        transition: background-color 0.3s ease;
        margin-top: 5px;
    }

    .clock {
        font-size: 16px;
        text-align: center;
        color: #fff;
        background-color: #121212; /* Dark gray background */
        
        border-radius: 100%;
        padding: 5px;

    }
    .Calendar {
        font-size: 16px;
        text-align: center;
        color: #fff;
        background-color: #121212; /* Dark gray background */
        
        border-radius: 20%;
        
    }

    .weather-disp {
        font-size: 16px;
        text-align: center;
        color: #fff;
        background-color: #0d0d0d; /* Dark gray background */
        
        border-radius: 20%;
        
    }

    .flex-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 5%;
    }

    .flex-item {
        flex-basis: 33.33%; /* Each item takes 33.33% of container width with some spacing */
        max-width: 50%; /* Each item takes 33.33% of container width with some spacing */
        margin-bottom: 10px;
    }
    #item1, #item2 {
        max-width: 250px;
    }
    #item3 {
        max-width: 320px;
    }
    td{
        padding-left: 14px;
    }


    @media only screen and (max-width: 768px) {
        .flex-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            padding: 5%;
            
        }
        .flex-item {
            align-content: center;
            width: 100%;
            height: 100%;
            padding: 20px;
        }
        .Calendar {
            width: 250px;
            padding: 4px;
        }
        .clock {
            width: 250px;
            
            padding: 10px;
        }
        #item2 {
            /* align-items: center; */
            padding-left: 80px;
        }
    }

</style>

<div class="flex-container">
    
        <div class="flex-item" id="item1">
            <div class="Calendar" id="Calendar">                
                <form id="Calendar" method="get">
                        {{ cal|safe }}
                        <table>
                            <tr>
                                <td>

                                    <input type="number" id="month" name="month" placeholder="Month(MM)">
                                </td>
                                <td>
                                    <input type="number" id="year" name="year" placeholder="Year(YYYY)" color="white"><br>

                                </td>
                            </tr>
                        </table>
                        <!-- <label for="month">Enter month number:</label> -->
                        <!-- <label for="year">Enter year number:</label> -->
                        <button type="submit">Check Calendar</button>
                    </form>
                </div>     
                <div class="clock" id="clock">
                    {{time}}    
                </div>      
        </div>

    <div class="flex-item" id="item2">
                <img src="{% static 'core/images/pic1.jpeg'%} " alt="ProfilePic" class = "img-thumbnail" width="200px" height="250px">        
    </div>

    <div class="flex-item" id="item3">

    <!-- <div class="container" id="weather_display"> -->
        
        
        <div id="weather-disp" class="weather-disp">
            <table>
                <tr>
                    <td>
                        <p><strong>Temperature:</strong> {{temperature}}°C</p>   
                    </td>
                    &ensp;
                    <td>
    
                        <p><strong>Weather:</strong> {{  weather  }} </p> 
                    </td>
                </tr>
                <tr>
                    <td>
                        
                        <p><strong>Humidity:</strong> {{humidity}}%</p> 
                    </td>
                    &ensp;
                    <td>
                        <p><strong>Pressure:</strong>{{pressure}}hPa</p> 
                        
                    </td>
                </tr>
                <tr>
                    <td>
                        
                        <p><strong>Sunrise:</strong> {{sunrise}}</p> 
                    </td>
                    &ensp;
                    <td>
                        <p><strong>Sunset:</strong> {{sunset}}</p>

                    </td>
                </tr>
                <tr>
                    <h4><strong>{{city}}</strong></h4> 
                    
                </tr>
            </table>
            
            <form id="weather-form" method="get">
                <input type="text" id="city" name="city" placeholder=" Enter Your City Name" required width="200px"><br>
                <button type="submit">Get Weather</button>
            </form>
        </div>
    


    </div>
    </div>


    <div class="details">
    <!-- <h1 class = "font-weight-bold font">Hello,</h1> -->
    <div class="px-4" style="line-height:2rem; color: white;">
        <p style="text-indent:100px"> <b> <h3 class="text-center"> Welcome to my portfolio website! </h3></b>
        </p>
        <p>
            <p>
                I'm <b class="text-warning">Ritesh Pushkar</b>, 
                a tech enthusiast with a Bachelor's degree in Electronics and Communication from NIT Hamirpur. 
                I have experience as a<b class="text-warning"><br>Full Stack Developer </b>at The Connect Dot Corp. Where I developed <b class="text-warning">IIT Bhubneshwar Merchandise Portal</b> apart from this I also worked as <b class="text-warning">Python Developer Associate Intern</b> at The Entrepreneurship Network, 
                Additionally, I worked as a <b class="text-warning">Software Developer Intern at Food Therapy Pvt Ltd for Six months</b>, 
                developing a Google authentication page and writing test cases using Python's unittest. 
                I've completed projects like CRUD operations in Django and automated website interaction using Selenium. 
                Proficient in Python, Java, Django, and Selenium, I have a strong foundation in <b class="text-warning">DSA, OOPs, DBMS, and web technologies</b>. 
                Let's connect and explore potential collaborations.
            </p>

    </p>
    </div>
</div>

<div class="text-center">
<a href="mailto:riteshpushkar01@gmail.com?feedback" class="btn btn-outline-warning mr-3 my-3">Hire Me</a>
<a href="{% url 'contact' %}" class="btn btn-outline-info my-3">Contact</a>
</div>

{% endblock content %}







